:root {
    --darkBlue:#002642;
    --blue: #296EB4;
    --orange: #F68E5F;
    --yellow:  #FFE66D;
    --lightPurple: #E9D2F4;
    --purple: #9A89D1;
    --green: #2DD881;
    --lightBlue: #D7F3FE;
    --cream: #F4F5F6;
    --pink: #F0B7B3;
    --gray: #4A5759;
    --font-one: 'Bilbo Swash Caps', cursive;
    --font-two: 'Raleway', sans-serif;
}

